
.navegation{
  background:#bfc0c2;
  height: auto;
  width: 8vh;
  display: flex;
  flex-direction: column;





}

.icon{

  color: white;
;

}

.active{

  color:purple;
}
.size{
  cursor: pointer;
  padding: 2vh;
  font-size: 4vh;
}

