<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="navegation" [opened]="true">
    <div>
      <a  routerLinkActive="active" routerLink="home" class="icon" > <mat-icon  class="size" >home</mat-icon></a>
      <a routerLinkActive="active" (click)="create()" ><mat-icon  class="size" >person_add</mat-icon></a>
      <a routerLinkActive="active" routerLink="list"  class="icon"><mat-icon class="size" >list</mat-icon></a>
    </div>
    <div>
      <a class="icon">
        <mat-icon   matBadge="0" matBadgeColor="warn" class="size" > chat_bubble_outline</mat-icon>
      </a>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

