
.cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;

  height: 100vh;



  background: linear-gradient(to right, rgba(	#eeeff1, 0.5), rgba(#eeeff1, 0.3)), 	#d0b04f;

  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.hero {
  width:100%;
   background: linear-gradient(to right, rgba(gray, 0.2), rgba(gray, 0.2)),
  url("https://cdn.wallpapersafari.com/65/53/m9uHcD.jpg");
  height: 60vh;
  background-size:cover ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.hero_text{

  padding: 4vh;
  color:#2f3138;
  font-weight: bold;
  font-size: 12vh;
}
.detail{
  color:#eeeff1;
}

.apuntes {
  margin: 3vh;
  display: flex;
flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height:20vh;


}
.boton{
  border-radius: 5px;
  padding: 1vh;
  margin: 1vh;
}





