
.cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
padding:3vh;
  height: 100vh;



  background: linear-gradient(to right, rgba(#ACDF87, 0.5), rgba(#4C9A2A, 0.3)), 	#d0b04f;

  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.filtro{
  color: #2f3138;
}
