<div class="cuerpo">

  <mat-form-field>
    <input matInput placeholder="Filter" (keyup)="applyFilter($event)" class="filtro">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.name}} </td>
    </ng-container>


    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> surname </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.surname}} </td>
    </ng-container>
    <ng-container matColumnDef="company_email">
      <th mat-header-cell *matHeaderCellDef> company email </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.company_emaile}} </td>
    </ng-container>

    <ng-container matColumnDef="id_profesor">
      <th mat-header-cell *matHeaderCellDef>  id_profesor</th>
      <td mat-cell *matCellDef="let alumno"> {{alumno. id_profesor}} </td>
    </ng-container>


    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef> branch </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.branch}} </td>
    </ng-container>

    <ng-container matColumnDef="num_hours_week">
      <th mat-header-cell *matHeaderCellDef> número horas por semana</th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.num_hours_week}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let alumno"> <button mat-raised-button color="warn" style="margin-right: 1vh" (click)="deleteEstudiante(alumno)">borrar</button>
        <button mat-raised-button color="accent">modificar</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
